@import "compass";

.txtcenter{
    text-align: center;
}

#topbox {
    
    .topimg {
    background-image:url("../img/top.jpg");
    height:500px;
    width:100%;
    background-size: cover;
    background-position: center center;
    top:0;
    left:0;
    right:0;
    }
}

#column3 {
    @include display-flex;
    flex-direction: row;
    
        .boxx {
        border: solid 6px BLACK;
        margin: 10px;
        flex: 1;
        margin-right: 1em;
    }

}

#footerbox {
    
        .boxbutton {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    margin-bottom:5px;
    width:30%;
    @include border-radius(4px);
    background-color:#bea300;
    }

}

@media (max-width:768px){
    #column3 {
        flex-direction: column;
    }
    #topbox {
    width:100%;
    height:250px;
        .topimg {
    background-image:url("../img/top.jpg");
    position:absolute;
    height:250px;
    width:100%;
    background-size: cover;
    background-position: center center;
    top:0;
    left:0;
    right:0;
    }
    }
}